
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^spidesk\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.spidesk\.com$
RewriteRule ^/?$ "https\:\/\/spidesk\.com\/" [R=301,L]

